package layout

templ Base() {
	<!DOCTYPE html>
	<html>
		<style>
      *{ 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-width: 100%;
      }
    </style>
		<head>
			<title>My Event Planner</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
